In [33]:
f = open("data.txt", "r")
s = f.read()
f.close()
print(s)

126 Lilo  12.5 8.2 7.1 3.2
456 Steve 4.0 10.4 6.5 2.7 12
789 Janne 6.0 8.0 8.0 8.5 7.5

In [31]:
f

In [32]:
f

In [37]:
def numWords(filename):
    '''returns the number of words in file   
    filename'''

    infile = open(filename)
    content = infile.read()
    infile.close()
    wordList = content.split()
    print(wordList)
    return len(wordList)

numWords("data.txt")

['126', 'Lilo', '12.5', '8.2', '7.1', '3.2', '456', 'Steve', '4.0', '10.4', '6.5', '2.7', '12', '789', 'Janne', '6.0', '8.0', '8.0', '8.5', '7.5']

20

In [39]:
input = open("data.txt")
for line in input:
    print(line.strip()) 
input.close()

126 Lilo  12.5 8.2 7.1 3.2
456 Steve 4.0 10.4 6.5 2.7 12
789 Janne 6.0 8.0 8.0 8.5 7.5

In [60]:
w = open("test.txt","a")
w.write("this is sparta \n")
w.write("the end \n")
w.close()

f = open("test.txt", "r")
s = f.read()
f.close()
print(s)

this is sparta
the end
this is sparta
the end
this is sparta
the end
this is sparta
the end
this is sparta
the end
this is sparta
the end
this is sparta
the end
this is sparta
the end
this is sparta
the end

In [76]:
with open("test.txt","a") as f:
    f.write("hi there \n")
# w.write("this is sparta \n")
# w.write("the end \n")


with open("test.txt", "r") as f:
    s = f.read()

print(s)

this is sparta
the end
this is sparta
the end
this is sparta
the end
this is sparta
the end
this is sparta
the end
this is sparta
the end
this is sparta
the end
this is sparta
the end
this is sparta
the end
hi therehi therehi there
hi there
hi there
hi there

In [1]:
def fibonacci(bound):
    p = 1 # previous	        
    c = 1 # current	        
    while c <= bound:
        p,c = c,p+c
    return c

In [2]:
fibonacci(15)

21

In [3]:

def cities():
    lst = []
    
    city = input('Enter city: ')

    while city != '':
        lst.append(city)
        city = input('Enter city: ')

    return lst

In [ ]:
cities()

Enter city: yrdt
Enter city: 1234567890

In [1]:
def cities3():
    lst = []
    while True:
        city = input(
        'Enter city: ')

        if city == '':
            break

        lst.append(city)

    return lst

In [2]:
cities3()

Enter city: 123456789
Enter city:

['123456789']

In [4]:
def ignore(table):
    for row in table:
        for num in row:
            if num == 0:
                break
            print(num, end=' ')
        print() 

table = [
  [2, 3, 0, 6],
  [0, 3, 4, 5],
  [4, 5, 6, 0]
]

ignore(table)

2 3

4 5 6

In [6]:

employee = {
    '864-20': ['Arm', 'Spartyan'],
    '987-65': ['Vlad', 'Tundyan'],
    '100-01': ['Kiazh', 'Damyan']}

days = {'Mo': 1, 'Tu': 2, 'Th': 4, 'W': 3}

#emp = {[1,2]:1,[2,3]:3} # error

days = {'Mo':1, 'Tu':2, 'W':3}

days2 = {'Tu':2, 'Fr':5}

In [8]:
employee['864-20']

['Arm', 'Spartyan']

In [11]:
employee['864-20'] = 'sparta'

In [14]:
employee

{'100-01': ['Kiazh', 'Damyan'],
 '864-20': 'sparta',
 '987-65': ['Vlad', 'Tundyan']}

In [16]:
employee['987-65']="sss"

In [17]:
employee

{'100-01': ['Kiazh', 'Damyan'], '864-20': 'sparta', '987-65': 'sss'}

In [18]:
empty={}

In [20]:
type(empty)

dict

In [21]:
empty2=dict()

In [22]:
empty2

{}

In [23]:
emp = {[1,2]:1,[2,3]:3} # error

TypeError: unhashable type: 'list'

In [24]:
days

{'Mo': 1, 'Tu': 2, 'W': 3}

In [25]:
'Mo' in days

True

In [27]:
len(days)

3

In [28]:
days.update(days2)

In [29]:
days

{'Fr': 5, 'Mo': 1, 'Tu': 2, 'W': 3}

In [31]:
days.pop('Mo')

1

In [32]:
days

{'Fr': 5, 'Tu': 2, 'W': 3}

In [34]:
for i in days:
    print(i,days[i])

Tu 2
W 3
Fr 5

In [38]:
for i in days.items():
    print(i)

('Tu', 2)
('W', 3)
('Fr', 5)

In [40]:
for i in days.values():
     print(i)

2
3
5

In [54]:
def frequency(itemList):
    'returns frequency of items in itemList'

    counters = {}
    for item in itemList:
        if item in counters: # increment item counter
            counters[item] += 1
        else: # create item counter
            counters[item] = 1
    return counters

grades = [95, 96, 100, 85, 95, 90, 95, 100, 100]
frequency(grades)

{85: 1, 90: 1, 95: 3, 96: 1, 100: 3}

In [57]:
grades = [95, 96, 100, 85, 95, 90, 95, 100, 100]

counters = {}
for item in grades:
    if item in counters: # increment item counter
        counters[item] += 1
    else: # create item counter
        counters[item] = 1
counters

{85: 1, 90: 1, 95: 3, 96: 1, 100: 3}